<div class="fd-container">
  <div class="fd-row">
    <div class="fd-col fd-col--full">
      <ng-container *ngTemplateOutlet="content">
      </ng-container>

    </div>
    <div class="fd-col fd-col--6">
      <ng-container *ngTemplateOutlet="editor">
      </ng-container>
    </div>
  </div>
</div>


<ng-template #content>
  <m-context #rootContext *ngIf="req" [object]="req" operation="edit" documentType="RV">
    <m-context scopeKey="class">
      <form>
        <div class="fd-container fd-form-layout-grid-container fd-form-layout-grid-container--vertical">
          <!-- TITLE -->
          <m-context #mTitle field="title">
            <div class="fd-row" *ngIf="mTitle | properties:'visible'">
              <div class="fd-col">
                <label class="fd-form-label"
                       [class.fd-form-label--required]="(mTitle | properties: 'trait') === 'required'"
                       for="title">{{mTitle | properties:'label'}}</label>
              </div>
              <div class="fd-col">
                <input class="fd-input" type="text" name="title"
                       [(ngModel)]="req.title"
                       [readonly]="!(mTitle | properties: 'editable':false)"
                       [disabled]="mTitle | properties: 'disabled'">
              </div>
            </div>
          </m-context>

          <!-- STATUS -->
          <m-context #mStatus field="status">
            <div class="fd-row" *ngIf="mStatus | properties: 'visible'">
              <div class="fd-col">
                <label class="fd-form-label"
                       [class.fd-form-label--required]="(mStatus | properties: 'trait') === 'required'"
                       for="status">{{mStatus | properties:'label'}}</label>
              </div>
              <div class="fd-col">
                <input class="fd-input" type="text" name="status" [(ngModel)]="req.status"
                       [disabled]="mStatus | properties: 'disabled'">
              </div>
            </div>
          </m-context>

          <!-- TOTAL AMOUNT -->
          <m-context #mTotal field="totalNetAmout">
            <div class="fd-row" *ngIf="mTotal | properties: 'visible'">
              <div class="fd-col">
                <label class="fd-form-label"
                       [class.fd-form-label--required]="(mTotal | properties: 'trait') === 'required'"
                       for="totalNetAmount">{{mTotal | properties:'label'}}</label>
              </div>
              <div class="fd-col">
                <input class="fd-input" type="number" name="totalNetAmount"
                       [(ngModel)]="req.totalNetAmount.amount "
                       [disabled]="mTotal | properties: 'disabled'">
              </div>
            </div>
          </m-context>
        </div>

        <m-context #lines field="lineItems">
          <ng-container *ngTemplateOutlet="renderLineItems;context:{$implicit: lines, lines: req.lineItems}">
          </ng-container>
        </m-context>

      </form>
    </m-context>
  </m-context>
</ng-template>
<ng-template #renderLineItems let-mc let-lineItems="lines">
  <div class="fd-toolbar fd-toolbar--title" *ngIf="mc | properties:'visible'">
    <span>{{mc | properties:'label'}}</span>
  </div>

  <m-context #liClass [class]="mc | properties: 'elementType'" operatation="edit">

    <table class="fd-table" *ngIf="mc | properties:'visible'">
      <thead class="fd-table__header">
      <tr class="fd-table__row">
        <th class="fd-table__cell">Name</th>
        <th class="fd-table__cell">Supplier</th>
        <th class="fd-table__cell">Quantity</th>
        <th class="fd-table__cell">Price</th>
      </tr>
      </thead>
      <tbody class="fd-table__body">
      <tr class="fd-table__row" *ngFor="let item of lineItems">
        <td class="fd-table__cell">{{item.shortText}}</td>
        <td class="fd-table__cell">{{item.supplier.name}}</td>
        <td class="fd-table__cell">
          <m-context [object]="item" operatation="edit">
            <m-context #mQuantity field="quantity">
              <input class="fd-input" type="number" name="quantity"
                     [(ngModel)]="item.quantity"
                     [readonly]="!(mQuantity | properties: 'editable':false)"
                     [min]="mQuantity | properties: 'minValue'" [disabled]="mQuantity | properties: 'disabled'">
            </m-context>
          </m-context>
        </td>
        <td class="fd-table__cell">{{item.price.amount}} {{item.price.currency}}</td>
      </tr>
      </tbody>
    </table>
  </m-context>
</ng-template>

<ng-template #editor>
  <div class="fd-form-item" [formGroup]="group">
    <select formControlName="ruleType" (change)="onChange($event.target)">
      >
      <option value="" disabled>Choose Rule</option>
      <option *ngFor="let rule of rules" [ngValue]="rule">{{rule}}</option>
    </select>

    <textarea class="fd-textarea fd-textarea--compact"
              id="textarea-123"
              rows="25"
              formControlName="oss"
              [value]="currentRule"
              placeholder="No Rule Loaded">

    </textarea>
    <button class="fd-button fd-button--emphasized" (click)="reloadRule()">Update</button>
  </div>
</ng-template>

